<app-header> </app-header>
<!--
<div class="w3-container" style="max-width:1400px;margin-top:80px">
    <div class="w3-row">

        <div class="w3-col m3">
            <div class="w3-card-2 w3-round w3-white">
                <ng2-adsense></ng2-adsense>
            </div>
        </div>

        <div class="w3-col m7">
            <div class="w3-card-2 w3-round w3-white ">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center"><img [src]="data.avatar" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{data.DisplayName}}</p>
                </div>
            </div>
        </div>


        <div class="w3-col m2">
            <div class="w3-card-2 w3-round w3-white">
                <ng2-adsense></ng2-adsense>
            </div>
        </div>
    </div>
</div>-->

 <div class="container profile">

    <div class="section profile-heading">
      <div class="columns">
        <div class="column is-2">
          <div class="image is-128x128 avatar">
            <img [src]="data.avatar" >
          </div>
        </div>
        <div class="column is-4 name">
          <p>
            <span class="title is-bold">{{data.DisplayName}}</span>
            <span class="button is-primary is-outlined follow">Follow</span>
          </p>
          <p class="tagline">The users profile bio would go here, of course. It could be two lines</p>
        </div>
        <div class="column is-2 followers has-text-centered">
          <p class="stat-val">129k</p>
          <p class="stat-key">followers</p>
        </div>
        <div class="column is-2 following has-text-centered">
          <p class="stat-val">2k</p>
          <p class="stat-key">following</p>
        </div>
        <div class="column is-2 likes has-text-centered">
          <p class="stat-val">29</p>
          <p class="stat-key">likes</p>
        </div>
      </div>
    </div>
    <div class="profile-options">
      <div class="tabs is-fullwidth">
        <ul>
          <li class="link is-active"><a><span class="icon"><i class="fa fa-list"></i></span> <span>My Lists</span></a></li>
          <li class="link"><a><span class="icon"><i class="fa fa-heart"></i></span> <span>My Likes</span></a></li>
          <li class="link"><a><span class="icon"><i class="fa fa-th"></i></span> <span>My Posts</span></a></li>
          <li class="link"><a><span class="icon"><i class="fa fa-bookmark"></i></span> <span>My Bookmarks</span></a></li>
        </ul>
      </div>
    </div>


    <div class="spacer"></div>

    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <ng2-adsense></ng2-adsense>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="tag is-dark">#webdev</span>
              <strong class="timestamp">2 d</strong>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">Save</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
            <ng2-adsense></ng2-adsense>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="tag is-dark">#webdev</span>
              <strong class="timestamp">2 d</strong>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">Save</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <ng2-adsense></ng2-adsense>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="tag is-dark">#webdev</span>
              <strong class="timestamp">2 d</strong>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">Save</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <ng2-adsense></ng2-adsense>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="tag is-dark">#webdev</span>
              <strong class="timestamp">2 d</strong>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item">Save</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>

    </div>
  </div>