strong{
    font-family: 'Satisfy', cursive;
}

 p{
    font-family: 'Marmelad', sans-serif;
}

 small{
    font-family: 'Kalam', cursive;
}


.textarea {
    display: block;
    max-height: 600px;
    max-width: 100%;
    min-height: 60px;
    min-width: 100%;
    padding: .625em;
    resize: vertical;
}